* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


body {
    background-color: #d9dcd6;
    height: 100%;
    min-width:100%;
}

header {
    min-width: 100%;
    min-height:200px;
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: hsl(200, 49%, 33%);
    color: white;

  
}


.header h1 {
    font-size: 50px;
    
    
}

.seo {
    color: yellow;
    
}

ul li {
    display: inline;
    position: relative;
    left: 250px;
    bottom: 30px;
    padding: 25px;
    list-style-type: none;
    margin-left: 30px;
    
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    position:relative;
    top: 70px;
}


.containerOne {
    height: 800px;
    width: 100%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    align-content:flex-start;
    align-items:center;


}

.containerTwo {

    height: 800px;
    width:80%;
    padding: 10px;


}

.box-1 {
    
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    

    
}

.box-1 h2 {
    font-size: 50px;
     margin-bottom: 20px;
     position:relative;
     left: 300px;
     
}

.box-1 p {
    font-size: 20px;
    position:relative;
    left: 210px;
    bottom:275px;
    padding-top: 50px;
    word-wrap: break-word;
    word-break:break-all;
    white-space: pre-wrap;
    width: 80%;

  
}

.box-1 img {
    position: relative;
    right: 75px;
    bottom: 70px;
    width: 350px;
    max-height: 200px;
    padding-left: 50px;
}



.box-2 {
    
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    margin-left: 500px;
    margin-right:500px;
    
    
    
}

.box-2 h2 {
    margin-bottom: 20px;
    font-size: 50px;
    position:relative;
    left:40px;
}

.box-2 img {
    width:300px;
    height:200px;
    position: relative;
    bottom:90px;
   right: 700px;
   

}

.box-2 p {

font-size: 20px;
word-wrap: break-word;
width:600px;
position: relative;
left:40px;

}

.box-3 {
    margin-bottom: 20px;
    padding: 25px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  
}

.box-3 img {
    position: relative;
    right:40px;
    bottom: 70px;
    width: 350px;
    max-height: 200px;
    padding-left: 50px;
}

.box-3 h2 {
    font-size: 50px;
     margin-bottom: 20px;
     position:relative;
     left: 350px;
}

.box-3 p {
    font-size: 20px;
    position:relative;
    left:350px;
    bottom:250px;
    padding-top: 50px;
    word-wrap: break-word;
    width: 600px;
}

.containerThree {
    margin-left: 0px;
    float:right;
    padding: 50px;
    clear: both;
    width: 20%;
    min-height:800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
    align-items: center;
    position: relative;
    bottom: 790px;

    
}

.boxOne {
    margin-bottom: 32px;
   

}

.boxOne h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

.boxOne img {
    display: block;
    margin: 10px auto;
    width: 150px;

}

.boxOne p {
    position: relative;
    bottom:15px;
}

.boxTwo {
    margin-bottom: 32px;
    
}

.boxTwo img {
    display: block;
    margin: 10px auto;
    width: 150px;
}

.boxTwo h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}

.boxTwo p {
position: relative;
bottom: 15px;
}

.boxThree {
    margin-bottom: 32px;
    
}


.boxThree h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

.boxThree img {
    display: block;
    margin: 10px auto;
    width: 150px;
}


.footer h2 {
    font-size: 20px;
}
.footer {
    padding: 30px;
    position: relative;
    top:250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

@media only screen and (min-width:414px){


   ul li a { 
    display: inline;
    text-align:left;
    position: relative;
    right: 300px;
    bottom: 30px;
    font-size: 20px;
    margin-right:-25px;
    margin-bottom:-25px;

   }

   .box-1 h2 {
    font-size: 30px;
          
}

.box-1 p {
    font-size: 15px;
    position:relative;
    left: 300px;
    overflow-wrap: break-word;
    text-overflow: clip;
    white-space: pre-line;
    width: 50%;
  
}

.box-2 h2 {
    font-size: 30px;
    word-wrap: break-word;
    width:50%
}

.box-2 p {
    font-size: 15px;
    word-wrap: break-word;
    width:60%;

}

.box-2 img {
    position:relative;
    left: 350px;
    bottom: 90px;
}
.box-3 h2 {
    font-size:30px;
    
}
.box-3 p {
    font-size: 15px;
    word-wrap: break-word;
    width:50%;
}
.box-3 img {
    position:relative;
    bottom:60px;
}


}


    

    
    
